*~
*.o
.dep
Makefile
Makefile.in
configure
config.h
config.h.in
config.status
config.log
compile
missing
libtool
depcomp
ar-lib
aclocal.m4
autom4te.cache
install-sh
src/imapd
src/.deps
src/stamp-h1
.deps/
.dirstamp
src/.dirstamp
test/$(top_srcdir)/
test/.deps/
test/mtest
TAGS
